<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6ED0A121E6B71850077A81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6ED0A261E6B71860077A81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6ED0A311E6B71860077A81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
